kubernetes==10.0.1
Flask==1.0.2
Flask-RESTful==0.3.8
Flask-Cors==3.0.6
opencv-python
requests==2.20.0
numpy==1.14.5
Pillow==7.1.0
tqdm==4.28.1
msgpack==0.6.1
pandas==0.24.2
opencv-contrib-python-headless
xpinyin==0.5.7
